#Log Files
*.log

#Client Only
/crash-reports/*
/logs/*
/saves/*
/screenshots/*

username.json
usernamecache.json

#Client-Only Mods
/config/UniqueNames.txt
/config/jei/bookmarks.ini
/config/AppliedEnergistics2/items.csv
/config/bradon3055/ResourceCache/*
/journeymap/data/sp/*
/TombManyGraves/savedInventories/*