#Log Files
*.log

#Client Only
/crash-reports/*
/logs/*
/saves/*
/screenshots/*

username.json
usernamecache.json

#Client-Only Mods
/config/jei/bookmarks.ini
/journeymap/data/sp/*
/TombManyGraves/savedInventories/*